*{
    margin: 0;
    border: 0;
    padding: 0;
}
#imagem-topo{
    background-color: bisque;
    text-align: center;
} 
p{
    padding: 15px;
    text-align: justify;
    font-family: arial;
    font-size: 18px;
}
h1,h2{
    font-family: arial;
    text-align: center;
    color: #4169E1;

}
h3{
    font-family: arial;
    font-size: 17px;
}
footer{
    background-color: bisque;
    text-align: center;
}
img{
    width: 50%;
    height: 50%;
}
.cliente{
    text-align: center;
    color: #4169E1;
    font-family: arial;
}